/*  MISC  */
/*  COLORS  */
.primary {
  color: #140c49; }

.secondary {
  color: #fffcfc; }

.alternative {
  color: #000000; }

.text-color {
  color: #ffffff; }

/*  SPACING  */
.spacing-xlg {
  padding: 8rem; }

.spacing-lg {
  padding: 6rem; }

.spacing-md {
  padding: 2.4rem; }

.spacing-sm {
  padding: 2rem; }

.spacing-xsm {
  padding: 1.5rem; }

/*  FONT-FAMILY  */
/*  FONT-SIZE  */
.text-xlg {
  font-size: 5.2em; }

.text-lg {
  font-size: 3em; }

.text-md {
  font-size: 2.2em; }

.text-sm {
  font-size: 1.6em; }

.text-xsm {
  font-size: 1.4em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  /* background-image: url(../img/img1.jpg); */
  /* background-size: 50%; */
  /* background-repeat: no-repeat; */
  /* background-position: right center; */
  /* font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif; */ }

link {
  text-decoration: none; }

ul, ol, li {
  list-style-type: none; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #2b2b2b;
  font-family: 'Roboto', sans-serif; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*  PARTIALS  */
/*  Overwrite Bootstrap*/
#fontnav {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.255);
  -webkit-box-shadow: 0px 0 20px -2px black;
  box-shadow: 0px 0 20px -2px black; }

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
  gap: 2rem; }
  .navbar-expand-md .navbar-collapse .navbar-nav {
    gap: 2.4rem;
    padding: 1.5rem;
    align-items: center; }

.navbar-expand-md .navbar-brand {
  max-width: 100px; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
  flex-basis: 60%; }

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  padding-left: 0px; }

.navbar .navbar-nav .nav-item .a {
  color: #ffffff; }

.navbar-dark .navbar-nav .nav-link:hover {
  box-shadow: 0px 0 10px -2px white;
  border-radius: 5px; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-toggler {
  border: 1px solid white; }

footer {
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-basis: 60%;
  gap: 2rem;
  color: #ffffff; }
  footer .logo {
    max-width: 70px;
    flex-basis: 40%; }
  footer .menu_fot {
    display: flex;
    padding-left: 1.5rem;
    gap: 2rem; }
    footer .menu_fot .menu_item a {
      display: block;
      text-decoration: none;
      padding: 1rem 1.2rem;
      color: #ffffff;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 1.4em;
      transition: color 3s; }
    footer .menu_fot .menu_item:hover {
      -webkit-box-shadow: 0px 0 20px -2px white;
      box-shadow: 0px 0 20px -2px #fffcfc;
      border-radius: 10px; }
    footer .menu_fot .menu_item:visited {
      color: #6060e0; }
    footer .menu_fot .menu_item:active {
      color: #920909; }

/*  VIEWS  */
/*  HOME  */
.container_index {
  max-width: 1500px;
  margin: 0 auto;
  background-image: url(../img/stacked-waves-haikei.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: inherit; }
  .container_index h2 {
    text-align: center;
    padding: 6rem;
    font-size: 5.2em;
    font-weight: 400;
    color: #ffffff; }
    @media screen and (max-width: 766px) {
      .container_index h2 {
        padding: 2.4rem;
        margin-top: 20px; } }
  .container_index .padding_container_flex {
    padding: 6rem; }
    @media screen and (max-width: 766px) {
      .container_index .padding_container_flex {
        padding: 2.4rem; } }
  .container_index p.text_decoration_home_text1 {
    font-size: 5.2em;
    padding: 2.4rem;
    color: #ffffff; }
    @media screen and (max-width: 1200px) {
      .container_index p.text_decoration_home_text1 {
        font-size: 4vw;
        margin-bottom: 20px; } }
    @media screen and (max-width: 900px) {
      .container_index p.text_decoration_home_text1 {
        font-size: 2.2em; } }
  .container_index p.text_decoration_home_text2 {
    font-size: 3em;
    padding: 2.4rem;
    color: #ffffff; }
    @media screen and (max-width: 1200px) {
      .container_index p.text_decoration_home_text2 {
        font-size: 2vw;
        margin-bottom: 20px; } }
    @media screen and (max-width: 900px) {
      .container_index p.text_decoration_home_text2 {
        font-size: 1.6em; } }
  .container_index .forma {
    padding: 2.4rem;
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0px 0 20px -2px white;
    box-shadow: 0px 0 20px -2px #fffcfc;
    border-radius: 30px; }
    .container_index .forma .form_user_home {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem; }
      .container_index .forma .form_user_home .form-user {
        margin-bottom: 0.5rem;
        font-size: 1.6em;
        color: #ffffff; }
    .container_index .forma .form_email_home {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem; }
      .container_index .forma .form_email_home .form-email {
        margin-bottom: 0.5rem;
        font-size: 1.6em;
        color: #ffffff; }
    .container_index .forma .form_phone_home {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem; }
      .container_index .forma .form_phone_home .form-phone {
        margin-bottom: 0.5rem;
        font-size: 1.6em;
        color: #ffffff; }
    .container_index .forma .bttn_form_enviar_home {
      padding-right: 78%; }
      .container_index .forma .bttn_form_enviar_home .btn, .container_index .forma .bttn_form_enviar_home .btn--submit {
        width: auto;
        padding: 10px 12px;
        font-size: 12px;
        margin: 5px auto;
        border-radius: 10px; }
      .container_index .forma .bttn_form_enviar_home .btn--submit {
        background-color: #ffffff; }
        .container_index .forma .bttn_form_enviar_home .btn--submit:hover {
          -webkit-box-shadow: 0px 0 20px -2px white;
          box-shadow: 0px 0 20px -2px #fffcfc; }

/* Parallasx */
.parallax {
  background-image: url(../img/img_parallax.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-wrap: break-word; }
  @media screen and (max-width: 450px) {
    .parallax {
      background-image: url(../img/img1.jpg); } }
  .parallax .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000; }
  .parallax span.border {
    background-color: rgba(32, 31, 134, 0.315);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px; }

/*  Bootstrap Overwrite  */
.container_index .d-flex {
  align-items: center; }
  @media screen and (max-width: 766px) {
    .container_index .d-flex {
      display: flex;
      flex-wrap: wrap; } }

.container_contact {
  max-width: 1500px;
  margin: 0 auto; }
  .container_contact .section_flex_contact {
    padding-top: 50vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column; }
    .container_contact .section_flex_contact h2 {
      font-size: 5.2em;
      color: #ffffff;
      text-align: center;
      margin-bottom: 20px; }
      @media screen and (max-width: 500px) {
        .container_contact .section_flex_contact h2 {
          font-size: 80px; } }
      @media screen and (max-width: 320px) {
        .container_contact .section_flex_contact h2 {
          font-size: 50px; } }
    .container_contact .section_flex_contact p {
      font-size: 3em;
      color: #ffffff;
      text-align: center;
      margin-bottom: 20px; }
      @media screen and (max-width: 500px) {
        .container_contact .section_flex_contact p {
          font-size: 24px; } }
      @media screen and (max-width: 320px) {
        .container_contact .section_flex_contact p {
          font-size: 18px; } }
    @media screen and (max-width: 960px) {
      .container_contact .section_flex_contact {
        padding-top: 40vh; } }

.background_contact {
  background: url(../img/layered-waves-haikei_cabecera_contact.png);
  height: 84vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  max-width: auto;
  width: 100%; }

.flex_contactus_form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh; }
  @media screen and (max-width: 670px) {
    .flex_contactus_form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100vh; } }
  .flex_contactus_form .forma_contactus {
    padding: 2.4rem;
    width: 50%;
    background-color: #000000;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0px 0 20px -2px white;
    box-shadow: 0px 0 20px -2px #fffcfc;
    border-radius: 30px; }
    @media screen and (max-width: 500px) {
      .flex_contactus_form .forma_contactus {
        width: 70%; } }
    .flex_contactus_form .forma_contactus .form_user_home {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem; }
      .flex_contactus_form .forma_contactus .form_user_home .form-user {
        margin-bottom: 0.5rem;
        font-size: 1.6em;
        color: #ffffff; }
    .flex_contactus_form .forma_contactus .form_email_home {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem; }
      .flex_contactus_form .forma_contactus .form_email_home .form-email {
        margin-bottom: 0.5rem;
        font-size: 1.6em;
        color: #ffffff; }
    .flex_contactus_form .forma_contactus .form_phone_home {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem; }
      .flex_contactus_form .forma_contactus .form_phone_home .form-phone {
        margin-bottom: 0.5rem;
        font-size: 1.6em;
        color: #ffffff; }
    .flex_contactus_form .forma_contactus .bttn_form_enviar_home {
      padding-right: 78%; }
      .flex_contactus_form .forma_contactus .bttn_form_enviar_home .btn, .flex_contactus_form .forma_contactus .bttn_form_enviar_home .btn--submit {
        width: auto;
        padding: 10px 12px;
        font-size: 12px;
        margin: 5px auto;
        border-radius: 10px; }
      .flex_contactus_form .forma_contactus .bttn_form_enviar_home .btn--submit {
        background-color: #ffffff; }
        .flex_contactus_form .forma_contactus .bttn_form_enviar_home .btn--submit:hover {
          -webkit-box-shadow: 0px 0 20px -2px white;
          box-shadow: 0px 0 20px -2px #fffcfc; }

/*  Bootstrap Overwrite  */
.margin_top_contactus {
  margin-top: 20px; }

.container_service {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem; }

/* Galeria Service */
.gallery_service {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0; }

/* .gallery_service .gallery_img{
    width: 250px;
    margin: 0 auto;
}
.gallery_service .gallery_img img{
    display: block;
    width: 100%;
    border-radius: 10px;
} */
.gallery_service .gallery_img:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.gallery_service .gallery_img:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.gallery_service .gallery_img:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 3 / 4; }

.gallery_service .gallery_img:nth-child(4) {
  grid-row: 1 / 2;
  grid-column: 1 / 2; }

.gallery_service .gallery_img:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 1 / 4; }

.gallery_service .gallery_img:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

/*  Animation Gallery  */
.gallery_service .gallery_img {
  transition: 2s; }

.gallery_service .gallery_img:hover {
  transform: scale(0.75, 0.75); }

/*  Cards  */
.box .box_img {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }

.box .box_img img {
  width: 100%; }

.cards {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center; }

.box {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  flex: 1 1 clamp(30%, 30%, 30%); }

.box_info {
  display: flex;
  flex-flow: column wrap;
  padding: 2.4rem;
  gap: 1rem; }

.box_title {
  font-family: 'Roboto', sans-serif; }

.box_text {
  font-family: 'Merriweather', serif; }

/*  About Us  */
.container_aboutus {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 10rem; }
  .container_aboutus .background_aboutus1 {
    background-image: url(../img/layered-waves-haikei_baja.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: inherit; }
  .container_aboutus .title_aboutus {
    max-width: 100%; }
    .container_aboutus .title_aboutus h2 {
      font-size: 5.2em;
      color: #ffffff; }
      @media screen and (max-width: 1110px) {
        .container_aboutus .title_aboutus h2 {
          font-size: 4.5em; } }
      @media screen and (max-width: 977px) {
        .container_aboutus .title_aboutus h2 {
          font-size: 9vw; } }
      @media screen and (max-width: 470px) {
        .container_aboutus .title_aboutus h2 {
          font-size: 35px;
          margin-top: 15px; } }
    .container_aboutus .title_aboutus p {
      font-size: 3em;
      color: #ffffff;
      margin: 20px 0; }
      @media screen and (max-width: 1110px) {
        .container_aboutus .title_aboutus p {
          font-size: 2.7em; } }
      @media screen and (max-width: 977px) {
        .container_aboutus .title_aboutus p {
          font-size: 2.5vw; } }
      @media screen and (max-width: 470px) {
        .container_aboutus .title_aboutus p {
          font-size: 15px; } }
  .container_aboutus .grid_title_aboutus {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px; }
    .container_aboutus .grid_title_aboutus .h2 {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .container_aboutus .grid_title_aboutus .p {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .container_aboutus .grid_title_aboutus .img {
      grid-row: 1 / 3;
      grid-column: 2 / 3; }
    @media screen and (max-width: 470px) {
      .container_aboutus .grid_title_aboutus .h2 {
        grid-row: 1 / 2;
        grid-column: 1 / 3; }
      .container_aboutus .grid_title_aboutus .p {
        grid-row: 2 / 3;
        grid-column: 1 / 3; }
      .container_aboutus .grid_title_aboutus .img {
        grid-row: 3 / 4;
        grid-column: 1 / 3; } }
  .container_aboutus .background_aboutus2 {
    background-image: url(../img/layered-waves-haikei.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: inherit;
    max-width: auto; }
  .container_aboutus .flex_cards_aboutus {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px 20px;
    margin-bottom: 20px; }
    @media screen and (max-width: 470px) {
      .container_aboutus .flex_cards_aboutus {
        width: auto;
        flex-direction: column; } }
    .container_aboutus .flex_cards_aboutus .card_aboutus {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%; }
      .container_aboutus .flex_cards_aboutus .card_aboutus p {
        text-align: center;
        font-size: 2vw; }
      .container_aboutus .flex_cards_aboutus .card_aboutus img {
        max-width: 100%; }
        .container_aboutus .flex_cards_aboutus .card_aboutus img:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }
      @media screen and (max-width: 800px) {
        .container_aboutus .flex_cards_aboutus .card_aboutus {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          width: 48%; }
          .container_aboutus .flex_cards_aboutus .card_aboutus img {
            max-width: 60%; }
          .container_aboutus .flex_cards_aboutus .card_aboutus p {
            font-size: 15px; } }
      @media screen and (max-width: 520px) {
        .container_aboutus .flex_cards_aboutus .card_aboutus {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          width: 45%; }
          .container_aboutus .flex_cards_aboutus .card_aboutus img {
            max-width: 50%; }
          .container_aboutus .flex_cards_aboutus .card_aboutus p {
            font-size: 10px; } }
      @media screen and (max-width: 470px) {
        .container_aboutus .flex_cards_aboutus .card_aboutus {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          width: 60%; }
          .container_aboutus .flex_cards_aboutus .card_aboutus img {
            max-width: 50%; }
          .container_aboutus .flex_cards_aboutus .card_aboutus p {
            font-size: 14px;
            margin-bottom: 0; } }

.grid_gallery_aboutus {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  gap: 2rem; }

/*  Bootstrap Overwrite */
.main_aboutus .d-flex {
  flex-flow: column nowrap;
  margin: 0 auto;
  gap: 2rem;
  max-width: 1200px; }

.flex_signin {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  max-width: 1000px;
  gap: 1rem;
  margin: 0 auto;
  text-align: center; }

.flex_signin .form_flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around; }

/*  Contact  */
.flex_contact {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; }

.flex_contact_form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around; }

.grid_contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 50vw; }

.grid_contact .grid_contact_img:nth-child(1) {
  grid-column: 1 / 2; }

.grid_contact .grid_contact_img:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2 / 3; }

.grid_contact .grid_contact_img:nth-child(3) {
  grid-column: 2 / 3; }

/*  Overwrite Bootstrap*/
.flex_contact_form .carousel {
  max-width: 50vw; }

.carousel-item h3 {
  color: #000000; }

.carousel p {
  color: #000000;
  font-size: 1rem; }
