<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header id="nav-bar" class="header">  
        <nav class="nav">
            <picture>
                <img class="logo" src="../img/Logo.jpg" alt="logo sitio">
            </picture>
            <ul class="menu">
                <li class="menu_item">
                    <a href="../index.html">Home</a>
                </li>
                <li class="menu_item">
                    <a href="./service.html">Service</a>
                </li>
                <li class="menu_item">
                    <a href="./signin.html">Sign in</a>
                </li>
                <li class="menu_item">
                    <a href="./aboutus.html">About Us</a>
                </li>
                <li class="menu_item">
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </nav> 
    </header> 
    <main>
        <section class="flex_aboutus">
            <div>
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quam autem distinctio officia quibusdam voluptatibus corrupti praesentium mollitia, adipisci iste doloremque, dolores illo odit laudantium fuga doloribus enim. Officia, quia!</p>
            </div>
            <div class="grid_gallery_aboutus">
                <picture class="gallery_imgaboutus">
                    <img src="../img/galeria 3.jpg" alt="">
                </picture>
                <picture class="gallery_imgaboutus">
                    <img src="../img/galeria1.jpg" alt="">
                </picture>
                <picture class="gallery_imgaboutus">
                    <img src="../img/galeria2.jpg" alt="">
                </picture>
                <picture class="gallery_imgaboutus">
                    <img src="../img/galeria4.jpg" alt="">
                </picture>
                <picture class="gallery_imgaboutus">
                    <img src="../img/galeria5.jpg" alt="">
                </picture>
                <picture class="gallery_imgaboutus">
                    <img src="../img/galeria6.png" alt="">
                </picture>    
            </div>
        </section>
    <footer>
        <ul class="menu">
            <li class="menu_item">
                <a href="./aboutus.html">About Us</a>
            </li>
            <li class="menu_item">
                <a href="./contact.html">Contact</a>
            </li>
        </ul>
        <img class="logo" src="../img/Logo.jpg" alt="logo sitio">
    </footer>   
</body>
</html>