<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header id="nav-bar" class="header">  
        <nav class="nav">
            <picture>
                <img class="logo" src="../img/Logo.jpg" alt="logo sitio">
            </picture>
            <ul class="menu">
                <li class="menu_item">
                    <a href="../index.html">Home</a>
                </li>
                <li class="menu_item">
                    <a href="./service.html">Service</a>
                </li>
                <li class="menu_item">
                    <a href="./signin.html">Sign in</a>
                </li>
                <li class="menu_item">
                    <a href="./aboutus.html">About Us</a>
                </li>
                <li class="menu_item">
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </nav> 
    </header> 
    <main class="container">
        <div id="general-servicios" class="imagen-fondoservicios">
            <h2>Servicios contratables</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eaque voluptas expedita quasi voluptates, mollitia quibusdam numquam nam provident aspernatur incidunt quo! Vel, delectus! Reprehenderit in corporis totam sapiente dicta?</p>
            <br>
        </div>
        <section id="cards" class="cards">
            <article class="box">
                <picture class="box_img">
                    <img src="../img/img2 1.jpg" alt="">
                </picture>
                <div class="box_info">
                    <h2 class="box_title">Lorem</h2>
                    <p class="box_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit maxime quidem laborum ducimus accusamus ratione incidunt deleniti sequi suscipit voluptatibus at similique, inventore a labore velit est numquam quae nobis.</p>
                </div>
            </article>
            <article class="box">
                <picture class="box_img">
                    <img src="../img/img3 1.jpg" alt="">
                </picture>
                <div class="box_info">
                    <h2 class="box_title">Lorem</h2>
                    <p class="box_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit maxime quidem laborum ducimus accusamus ratione incidunt deleniti sequi suscipit voluptatibus at similique, inventore a labore velit est numquam quae nobis.</p>
                </div>
            </article>
            <article class="box">
                <picture class="box_img">
                    <img src="../img/img4 1.jpg" alt="">
                </picture>
                <div class="box_info">
                    <h2 class="box_title">Lorem</h2>
                    <p class="box_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit maxime quidem laborum ducimus accusamus ratione incidunt deleniti sequi suscipit voluptatibus at similique, inventore a labore velit est numquam quae nobis.</p>
                </div>
            </article>
        </section>
        <section id="container_service" class="gallery_service">
             <picture class="gallery_img">
                <img src="../img/Galeria service/Card-1.jpg" alt="img_galeria" class="gallery_img1">
            </picture>
             <picture class="gallery_img">
                <img src="../img/Galeria service/Card-2.jpg" alt="img_galeria" class="gallery_img2">
            </picture>
            <picture class="gallery_img">
                <img src="../img/Galeria service/Card-3.jpg" alt="img_galeria" class="gallery_img3">
             </picture>
            <picture class="gallery_img">
                <img src="../img/Galeria service/Card.jpg" alt="img_galeria" class="gallery_img4">
            </picture>
            <picture class="gallery_img">
                <img src="../img/Galeria service/Poster-1.jpg" alt="img_galeria" class="gallery_img5">
             </picture>
            <picture class="gallery_img">
                <img src="../img/Galeria service/Poster.jpg" alt="img_galeria" class="gallery_img6">
            </picture>
        </section>
    </main>
    <footer>
        <ul class="menu">
            <li class="menu_item">
                <a href="./aboutus.html">About Us</a>
            </li>
            <li class="menu_item">
                <a href="./contact.html">Contact</a>
            </li>
        </ul>
        <img class="logo" src="../img/Logo.jpg" alt="logo sitio">
    </footer>   
</body>
</html>
        <!-- <div id="tabla-servicios">
            <h2>Servicios</h2>
            <table>
                <thead>
                    <tr>
                        <th><img src="" alt=""></th>
                        <th><img src="" alt=""></th>
                        <th><img src="" alt=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Lipsum dolor</b></td>
                        <td><b>Lipsum dolor</b></td>
                        <td><b>Lipsum dolor</b></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th><img src="" alt=""></th>
                        <th><img src="" alt=""></th>
                        <th><img src="" alt=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Lipsum dolor</b></td>
                        <td><b>Lipsum dolor</b></td>
                        <td><b>Lipsum dolor</b></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <!-- <div id="testimonios">
            <h2>Testimonials</h2>
            <table>
                <thead>
                    <tr>
                        <th><img src="" alt=""></th>
                        <th><img src="" alt=""></th>
                        <th><img src="" alt=""></th>
                        <th><img src="" alt=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Lipsum dolor</b></td>
                        <td><b>Lipsum dolor</b></td>
                        <td><b>Lipsum dolor</b></td>
                        <td><b>Lipsum dolor</b></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quam laudantium earum explicabo quis dignissimos iure, voluptatum similique quaerat iste nulla natus inventore, aliquam dicta enim perferendis vel dolor modi?</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    