
footer {
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-basis: 60%;
    gap: 2rem;
    .logo{
        max-width: 70px;
        flex-basis: 40%;
    }
    .menu_fot{
        display: flex;
        padding-left: 1rem;
        gap: 2rem;
    }
}

