 
/*  Overwrite Bootstrap*/

#fontnav{
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.255);
        -webkit-box-shadow: 0px 0 20px -2px rgb(0, 0, 0); 
        box-shadow: 0px 0 20px -2px rgb(0, 0, 0);
}
.navbar-expand-md {
    .navbar-collapse {
        justify-content: flex-end;
        gap: map-get($spacings, spacing-sm);
            .navbar-nav{
                gap: map-get($spacings, spacing-md);
                padding: map-get($spacings, spacing-xsm);
                align-items: center;
            }
    }
    .navbar-brand{
        max-width: 100px;
    }
}

.nav{
    @include flex(row, space-between, center, map-get($spacings, spacing-xsm));
    // display: flex;
    // padding: 1rem 0;
    // flex-flow: row nowrap;
    // justify-content: space-between;
    // align-items: center;
    margin: 0 auto;
    flex-basis: 60%;
}

.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: map-get($spacings, spacing-xsm);
    padding-left: 0px;
}

.navbar{
    .navbar-nav{
        .nav-item{
            .a{
               color : map-get($colors, text-color);
            }
        }
    }
}
.navbar-dark {
    .navbar-nav {
        .nav-link:hover {
            box-shadow: 0px 0 10px -2px white;
            border-radius: 5px;
          }
    }
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
    border: 1px solid white;
}


// .navbar-nav{
//     .nav-link{
//         &:active{
//             color: rgb(255 255 255 / 90%);
//         }
//     }
// }
// .nav-link {
//     color: rgb(255 255 255 / 55%);
// }


// #nav-bar {
//     background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
//     color: #ffffff;
//     position: sticky;
//     top: 0px;
// }

