

/*  HOME  */
.container_index{
    margin: 0 auto;
    background-image: url(../img/stacked-waves-haikei.svg);
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: inherit;
        h2{
            text-align: center;
            padding: map-get($spacings , spacing-lg);
            font-size: map-get($text-size , text-xlg);
            font-weight: 400;
            color: map-get($colors , text-color);

            @media screen and (max-width: 766px) { 
                padding: map-get($spacings , spacing-md);
                margin-top: 20px;
            }
        }
        .padding_container_flex{
            padding: map-get($spacings , spacing-lg);

            @media screen and (max-width: 766px) { 
                padding: map-get($spacings , spacing-md);
            }
        }
                p.text_decoration_home_text1{
                    font-size: map-get($text-size , text-xlg);
                    padding: map-get($spacings , spacing-md);
                    color: map-get($colors , text-color);

                    @media screen and (max-width: 1200px) { 
                        font-size: 4vw;
                        margin-bottom: 20px;
                    }

                    @media screen and (max-width: 900px) { 
                        font-size: map-get($text-size , text-md);
                    }
                }
                p.text_decoration_home_text2{
                    font-size: map-get($text-size , text-lg);
                    padding: map-get($spacings , spacing-md);
                    color: map-get($colors , text-color);

                    @media screen and (max-width: 1200px) { 
                        font-size: 2vw;
                        margin-bottom: 20px;
                    }

                    @media screen and (max-width: 900px) { 
                        font-size: map-get($text-size , text-sm);
                    }
                }
        .forma{
            padding: map-get($spacings , spacing-md);
            width: 100%;
            height: 100%;
            background-color: #000000;
            position: relative;
            text-align: center;
            -webkit-box-shadow: 0px 0 20px -2px rgb(255, 255, 255); 
            box-shadow: 0px 0 20px -2px rgb(255, 252, 252);
            border-radius: 30px;

                .form_user_home{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    margin-bottom: 1rem;
                
                        .form-user{
                            margin-bottom: 0.5rem;
                            font-size: map-get($text-size , text-sm);
                            color: map-get($colors , text-color);
                        }
                }
                .form_email_home{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    margin-bottom: 1rem;
            
                        .form-email{
                            margin-bottom: 0.5rem;
                            font-size: map-get($text-size , text-sm);
                            color: map-get($colors , text-color);
                        }
                }         
                .form_phone_home{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    margin-bottom: 1rem;
                
                        .form-phone{
                            margin-bottom: 0.5rem;
                            font-size: map-get($text-size , text-sm);
                            color: map-get($colors , text-color);
                        }
                }        
                .bttn_form_enviar_home{
                    padding-right: 78%;

                        .btn{
                            width: auto;
                            padding: 10px 12px;
                            font-size: 12px;
                            margin: 5px auto;
                            border-radius: 10px;
                        }
            
                        .btn--submit{
                            @extend .btn;
                            background-color: #ffffff;
                            &:hover {
                                -webkit-box-shadow: 0px 0 20px -2px rgb(255, 255, 255); 
                                box-shadow: 0px 0 20px -2px rgb(255, 252, 252);
                            }
                        };
                }
            }            
}

/* Parallasx */
.parallax {
    background-image: url(../img/img_parallax.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-wrap: break-word;

    @media screen and (max-width: 450px) { 
        background-image: url(../img/img1.jpg)
    }
        .caption {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: 2rem;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #000;
        }
                span.border {
                    background-color: rgba(32, 31, 134, 0.315);
                    color: #fff;
                    padding: 18px;
                    font-size: 25px;
                    letter-spacing: 10px;
                }
}



/*  Bootstrap Overwrite  */


.container_index{

    .d-flex{
        align-items: center;

            @media screen and (max-width: 766px) { 
                display: flex;
                flex-wrap: wrap;
            }
    }
}