/*  Service  */
.container_service{
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 15rem;
        .header_service{
            h1{
                text-align: center;
                padding: map-get($spacings , spacing-lg);
                font-size: map-get($text-size , text-xlg);
                font-weight: 400;
                color: map-get($colors , text-color);

                    @media screen and (max-width: 766px) { 
                        padding: map-get($spacings , spacing-md);
                        margin-top: 20px;
                    }
            }
        }
        .container_service_finance{
                .flex_containers_finance_izq{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 2rem;
                    margin: map-get($spacings , spacing-md);
                        .card_body_izq{
                            h3{
                                margin-top: map-get($spacings , spacing-md);
                                font-size: map-get($text-size , text-lg);
                                color: map-get($colors , text-color);
                            }
                            .card_list_izq{
                                gap: 10px;
                                    li{
                                        list-style-type: disc;
                                        margin: 20px 0;
                                        font-size: map-get($text-size , text-md);
                                        color: map-get($colors , text-color);
                                    }
                            }
                        }
                }
                .flex_containers_finance_der{
                    display: flex;
                    flex-flow: row-reverse wrap;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 2rem;
                    margin: map-get($spacings , spacing-md);
                        .card_body_der{
                            h3{
                                margin-top: map-get($spacings , spacing-md);
                                font-size: map-get($text-size , text-lg);
                                color: map-get($colors , text-color);
                            }
                            .card_list_der{
                                gap: 10px;
                                    li{
                                        list-style-type: disc;
                                        margin: 20px 0;
                                        font-size: map-get($text-size , text-md);
                                        color: map-get($colors , text-color);
                                    }
                            }
                        }
                }
        }
}



