
    /*  COLORS  */
    $primary: #140c49;
    $secondary: #fffcfc;
    $alternative: #000000;
    $text-color: #2B2B2B;

    /*  SPACING  */
    $spacing-lg: 6rem;
    $spacing-md: 2.4rem;
    $spacing-sm: 2rem;
    $spacing-xsm: 1rem;

    /*  FONT-FAMILY  */
    $font-principal: 'Roboto', sans-serif;
    $font-title: 'Merriweather', serif;

    /*  FONT-SIZE  */
    $text-lg: 5.2em;
    $text-md: 2.2em;
    $text-sm: 1.6em;
    $text-xsm: 1.4em;